.host {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}

.innerHost {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 32px 24px;
    border: 1px solid rgb(226, 222, 222);
    width: 571px;
    border-radius: 4px;
}

.hostDetail {
    display: flex;
    flex-direction: column;
}

.hostDetail>h5 {
    font-size: 18px;
    color: rgb(77, 77, 77);
}

.hostDetail>p {
    font-size: 15px;
    color: gray;
}

.hostImg {
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: column;
}