.team {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 168px;
}

.innerTeam {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 80px 0 50px 0;
}

.innerTeam>h2 {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace !important;
  font-size: 16px;
  color: rgb(105, 105, 105);
  font-weight: 400;
}

.innerTeam>p {
  font-weight: 500;
  font-size: 48px;
  text-align: center;
}

.innerTeam>.teamPara {
  font-size: 20px;
  font-weight: 400;
  color: rgb(105, 105, 105);
  text-align: center;
  margin: 0 162px 24px 162px;
}

.innerTeam>button {
  background: transparent;
  padding: 20px 32px;
  border: 1px solid #6da8eb;
  color: #1074e7;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
}