.verified {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 168px;
}

.verifiedDetail {
    padding: 40px;
}

.verifiedDetail>ul {
    list-style-type: none;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.verifiedDetail>ul>li>h5 {
    color: rgb(77, 77, 77);
}

.verifiedDetail>ul>li>p {
    font-size: 14px;
    margin-bottom: 32px;
    color: gray;
}

.verifiedImg>img {
    width: 458px;
    height: 284px;
}