/* header */

/* main */

/* media */

@media (max-width: 1011px) {
  header {
    justify-content: center;
    height: 60px;
  }
  header > nav,
  header > div > input,
  .signIn {
    display: none;
  }
  .webStart {
    margin: 0;
  }
  .innerDotted > h2 {
    font-size: 25px;
    text-align: center;
  }
  .innerIntro > p {
    margin: 8px 0px 32px 0px;
  }
  .innerIntro > h2 {
    text-align: center;
  }
  .innerOrganiz {
    margin: 0;
  }
  .innerOrganiz > p {
    text-align: center;
  }
  .team {
    padding: 0;
  }
  .innerTeam {
    padding: 0 16px;
  }
  .innerTeam > .teamPara {
    margin: 0 0 24px 0;
  }
  .robot {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .robotImg > img {
    width: 427px;
    height: 460px;
  }
  .verified {
    margin: 30px 15px;
    flex-direction: column-reverse;
  }
  .setUp,
  .setDown {
    margin-top: 50px;
  }
  .lastForm {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .lastForm > input {
    width: 95%;
    margin: 30px 10px;
  }
  .lastForm > input[type="password"],
  .lastForm > input[type="submit"] {
    width: 50%;
  }
  footer {
    flex-direction: column;
    padding: 16px;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
