.main {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    padding: 10px 0;
    border-bottom: 1px solid black;
}

.imgDiv {
    width: 100px;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.imgDiv img {
    border: 2px solid black;
}

.detail {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

h2 {
    margin: 0;
    font-size: 20px;
}

p {
    margin: 0;
}

.number {
    font-size: 15px;
}

.messege {
    margin: 8px 0;
    font-size: 15px;
}

.time {
    font-size: 12px;
}

.unread div {
    display: flex;
    background-color: rgb(16, 233, 16);
    /* align-items: center; */
    justify-content: flex-start;
    color: white;
    padding: 4px 10px;
    border-radius: 100px;
}